---
// Import  images
import { Image } from 'astro:assets';
import heroImage from '../assets/images/hero-bg.png';
---

<section id="#agrutopia-hero" class="relative h-screen flex items-center justify-center overflow-hidden">
  <Image
    src={heroImage} 
    alt="Agrutopia Hero image" 
    class="absolute inset-0 w-full h-full object-cover"
  />
  <div class="absolute inset-0 bg-black/30"></div>
  
  <div class="relative text-center text-white">
    <h1 class="text-6xl tracking-widest md:text-8xl font-bold mb-4">AGRUTOPIA</h1>
  </div>
</section>